html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,footer,header,main,section,summary{display:block}a{background-color:transparent}a:active,a:hover{outline:0}img{border:0}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;resize:none;}

* {
    box-sizing: border-box
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.button {
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

input.button {
    -webkit-appearance: button
}

.input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px 10px 12px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'PT Sans', sans-serif;
    vertical-align: middle;
    background-color: #ffffff;
}

.input::-webkit-input-placeholder,.select::-webkit-input-placeholder {
	font-size: 16px;
	color: #000;
	line-height: 20px;
	font-family: 'PT Sans', sans-serif;
	opacity: 0.3;
}

body {
	font-size: 14px;
	line-height: 20px;
	color: #000;
	background-color: #EFF1F2;
}

.large-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	margin: 0;
}

.large-text-border {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 14px;
	padding-bottom: 14px;
	border-top: 1px solid #d2d9e2;
	color: #0059d9;
	transition-property: color;
	transition-duration: .4s;
}

details[open] .large-text-border {
	color: #000 !important;
}

.large-text-border:hover {
	color: #000;
}

.large-text-border::after {
	content: "+";
	font-family: 'Times New Roman';
	font-size: xx-large;
	float: right;
	opacity: 0;
	color: #000;
	transition-property: opacity, transform;
	transition-duration: .2s;
	transform: rotate(0deg);
}

.large-text-border:hover::after {
	opacity: 1;
}

details[open] .large-text-border::after {
	transform: rotate(45deg);
}

.heading {
	margin-top: 0;
	margin-bottom: 8px;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 36px;
}

.subtitle {
	margin-top: 0;
	margin-bottom: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 32px;
	line-height: 36px;
}

.typesetting-1 {
	opacity: .7;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'PT Mono', monospace;
	font-size: 14px;
	line-height: 20px;
}

.typesetting-2 {
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 20px;
}

.form {
	display: grid;
	grid-auto-columns: 1fr;
	grid-gap: 16px;
	grid-template-areas: "name" "email" "message" "upload" "submit";
}

.text-field {
	margin-bottom: 0;
	border-radius: 4px;
	border: 1px solid #1f406f33;
}

.text-field:focus {
	outline: none;
	border: 1px solid #0059D9;
}

.container {
	max-width: 700px;
	padding: 52px 0;
	margin: 0 20px;
	text-align: center;
}

.main-button {
	width: 280px;
	height: 52px;
	padding: 14px 0;
	border-radius: 4px;
	background-color: #0059d9;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 800;
	transition: background-color .2s;
}

.main-button:hover {
	background-color: #000;
}

.form .main-button {
	width: 100%;
}

.optional-button {
	padding-top: 6px;
	padding-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #1f406f33;
	border-radius: 4px;
	background-color: #fff0;
	font-family: 'PT Sans', sans-serif;
	color: #0059d9;
	font-size: 16px;
}

.optional-button:hover {
	color: #000;
	transition: color .2s;
}

.link {
	display: block;
	font-family: 'PT Mono', monospace;
	color: #71abff;
	text-decoration: none;
	transition: color .2s;
}

.link:hover {
	color: #FFF;
}

.my-works {
	background-color: #25282a;
	color: #fff;
}

.my-works .subtitle {
	margin-bottom: 8px;
}

.profile .container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.expectations {
	background-color: #fff;
}

.expectations .container {
	text-align: left;
}

.site-container {
	margin-top: 60px;
}

#Contact .typesetting-1 {
	opacity: 1;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.site-image {
	width: 100%;
	height: auto;
	margin: 16px 0;
	border-radius: 4px;
}

.avatar {
	width: 205px;
	height: 205px;
	margin-bottom: 32px;
	border-radius: 50%;
}

@media (min-width: 600px) {
	.container {
		margin: 0 40px;
	}
	
	.avatar {
		width: 250px;
		height: 250px;
	}
}

@media (min-width: 601px) {
	.heading {
		font-size: 40px;
		line-height: 44px;
	}
}

@media (min-width: 780px) {
	.container {
		margin: 0 auto;
	}
}

@media (min-width: 1000px) {
	.container {
		padding: 100px 0;
	}

	.site-container {
		margin-top: 80px;
	}

	.site-image {
		margin: 20px 0;
	}

	.avatar {
		width: 340px;
		height: 340px;
		margin-bottom: 36px;
	}

	.form {
		margin-top: 40px;
		grid-gap: 20px;
		grid-template-areas: "name email" "message message" "upload upload" "submit submit";
	}
}

summary {
	outline: 0;
}

summary::-webkit-details-marker {
	display: none;
}

[name="name"] {
	grid-area: name;
}

[name="email"] {
	grid-area: email;
}

[name="message"] {
	grid-area: message;
	height: 136px !important;
}

[name="upload"] {
	grid-area: upload;
}

[name="submit"] {
	grid-area: submit;
}

.social-button img {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin: 0 8px;
}
